/* Basic body style */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: 'Lobster', cursive;
    font-size: 32px;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    color: #1e3c72;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #555;
}

input[type="text"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.radio-buttons label {
    margin: 0 15px;
    font-weight: 500;
    color: #333;
}

/* Added space between CAPTCHA and Search Button */
.g-recaptcha {
    margin-bottom: 20px;
}

button {
    padding: 12px 30px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    width: 100%;
    max-width: 200px;
}

button:hover {
    background-color: #f4511e;
}

button:active {
    transform: scale(0.95);
}

#results {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering the result cards */
}

.result-card {
    background-color: #2c3e50;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centering the text inside the cards */
}

.result-card a {
    color: #3498db;
    font-weight: bold;
    text-decoration: none;
}

.result-card a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0; /* Reduced footer padding */
    background-color: #1e3c72;
    color: #f8f9fa;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer small {
    color: #ccc;
    font-size: 12px;
}

.instagram-icon {
    width: 20px;   /* Set the correct width */
    height: 20px;  /* Set the correct height */
    vertical-align: middle;
    margin-left: 5px;
}
